.connection-canvas {
    width: 100%;
    height: 200px;
    display: block;
    margin-top: 10px;
}

.reset-btn {
    margin-left: 8px;
}

.connection-cont, .threads-cont {
    margin: 50px 0;
    padding-bottom: 5px;
}


.connection-header, .threads-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--text-primary);
    padding-left: 15px;
}

.connection-body {
    position: relative;
    padding-top: 8px;
    margin-left: 50px;
    border-left: 2px solid var(--text-primary);
}

.connection-stats {
    display: flex;
    padding-left: 20px;
    gap: 20px;
    font-size: 0.9em;

    flex-wrap: wrap;
    color: var(--text-secondary);
}

.expand-btn {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-.72em) translateX(-.585em);
    color: var(--text-primary);
    transition: 0.2s transform;

    cursor: pointer;
}

.expand-btn.expanded {
    transform: translateY(-.75em) translateX(-.63em) rotate(45deg);
}

.thread-joint {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-0.46em) translateY(0.85em);
}

.badge {
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 0.9em;
    display: inline-block;
}

.timestamp-row {
    margin-top: 12px;
    display: block;
    width: 100%;
}

.badge-primary {
    background-color: var(--badge-bg);
}

.expandable-content {
    transition: max-height 0.3s ease-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: -15px;
    padding-left: 15px;
}

.expandable-content.collapsed {
    max-height: 0;
}

.expandable-content.expanded {
    max-height: 400px;
}
