.connection-status {
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px 12px;

    font-size: 0.85em;
    font-weight: 500;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
}

.connection-status.connected {
    background-color: #369761;
}

.connection-status.disconnected {
    background-color: #d8646f;
}