// Status color variables
$status-connected: #369761;
$status-disconnected: #d8646f;

.connection-status {
    position: fixed;
    top: 0;
    right: 0;
    padding: .2em .4em;
    font-size: .9em;
    font-weight: 500;
    color: white;
    z-index: 1000;

    &.connected {
        background-color: $status-connected;
        box-shadow: 2px 2px #246732;
    }

    &.disconnected {
        background-color: $status-disconnected;
        box-shadow: 2px 2px #702c2c;
    }
}