body {
    background-color: #222132;
    color: #86cfea;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #1e5c58;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    display: inline-block;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1a4b4c;
}

.events {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #86cfea;
    margin-top: auto;
}

.events .event {
    position: absolute;
    display: inline-block;
    will-change: transform;

    width: 20px;
    height: 20px;
    border-radius: 0 50%;
}

.events .event:hover {
    filter: brightness(1.2);
}