@font-face {
  font-family: 'Poxast';
  src: url('./assets/fonts/Poxast-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Terminal Grotesque';
  src: url('./assets/fonts/terminal-grotesque.ttf') format('truetype');
}

.app > h1 {
  font-family: 'Poxast', sans-serif;
  font-weight: 400;
    font-size: 40px;
}

.app {
  font-family: 'Terminal Grotesque', monospace;
    font-size: 33px;
}
